<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.haloshop.cart.CartMapper">

    <insert id="insertCart">
        INSERT INTO cart (account_id, items_id, quantity, created_at, updated_at)
        VALUES (#{accountId}, #{itemsId}, #{quantity}, NOW(), NOW())
    </insert>

    <!-- 조인으로 item 정보까지 불러오기 -->
    <select id="getCartList" resultType="com.company.haloshop.dto.shop.Cart">
        SELECT c.id, c.account_id, c.items_id, c.quantity, c.created_at, c.updated_at,
               i.id AS items_id,
               i.name, i.price, 
               (SELECT url FROM items_image WHERE items_id = i.id LIMIT 1) AS imageUrl
        FROM cart c
        JOIN items i ON c.items_id = i.id
        WHERE c.account_id = #{accountId}
    </select>
    
    <select id="findCartItem" resultType="com.company.haloshop.dto.shop.Cart">
    SELECT * FROM cart
    WHERE account_id = #{accountId}
      AND items_id = #{itemsId}
	</select>

    <update id="updateCart">
        UPDATE cart
        SET quantity = #{quantity}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteCart">
        DELETE FROM cart
        WHERE id = #{id}
    </delete>
    
    <delete id="deleteAllByAccountId" parameterType="long">
    	DELETE FROM cart WHERE account_id = #{accountId}
	</delete>
    

</mapper>
