<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.haloshop.membership.MembershipMapper">

<select id="findAll" resultType="com.company.haloshop.dto.shop.MembershipDto">
    SELECT id, name, price, price_point FROM membership
</select>

<select id="findById" resultType="com.company.haloshop.dto.shop.MembershipDto">
    SELECT id, name, price, price_point FROM membership WHERE id = #{id}
</select>

<insert id="insert">
    INSERT INTO membership (name, price, price_point)
    VALUES (#{name}, #{price}, #{pricePoint})
</insert>

<update id="update">
    UPDATE membership
    SET name = #{name}, price = #{price}, price_point = #{pricePoint}
    WHERE id = #{id}
</update>

<delete id="delete">
    DELETE FROM membership WHERE id = #{id}
</delete>

</mapper>
