<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.haloshop.season.SeasonMapper">

    <!-- resultMap 정의 -->
    <resultMap id="SeasonResultMap" type="com.company.haloshop.season.Season">
        <id property="id" column="id" />
        <result property="name" column="name" />
		<result property="startDate" column="start_date" />
		<result property="endDate" column="end_date" />
        <result property="level_1" column="level_1" />
        <result property="level_2" column="level_2" />
        <result property="level_3" column="level_3" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <!-- 시즌 생성 -->
	<insert id="insertSeason" parameterType="com.company.haloshop.season.Season" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO season 
	        (name, start_date, end_date, level_1, level_2, level_3, created_at)
	    VALUES 
	        (#{name}, #{startDate}, #{endDate}, #{level_1}, #{level_2}, #{level_3}, #{createdAt})
	</insert>

    <!-- 전체 조회 -->
    <select id="findAllSeason" resultMap="SeasonResultMap">
        SELECT * FROM season
    </select>

    <!-- 단일 조회 (id로) -->
    <select id="findById" parameterType="long" resultMap="SeasonResultMap">
        SELECT * FROM season WHERE id = #{id}
    </select>

    <!-- 수정 -->
	<update id="updateSeason" parameterType="com.company.haloshop.season.Season">
	    UPDATE season
	    <set>
	        <if test="name != null">
	            name = #{name},
	        </if>
	        <if test="startDate != null">
	            start_date = #{startDate},
	        </if>
	        <if test="endDate != null">
	            end_date = #{endDate},
	        </if>
	        <if test="level_1 != null">
	            level_1 = #{level_1},
	        </if>
	        <if test="level_2 != null">
	            level_2 = #{level_2},
	        </if>
	        <if test="level_3 != null">
	            level_3 = #{level_3},
	        </if>
	    </set>
	    WHERE id = #{id}
	</update>

    <!-- 삭제 -->
    <delete id="deleteSeason" parameterType="long">
        DELETE FROM season WHERE id = #{id}
    </delete>

</mapper>
