<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.haloshop.donate.SeasonMapper">

    <!-- 시즌 생성 -->
    <!-- <insert id=insert parameterType="Season">
    	insert into season 
    	( name, start_date, end_date, level_1, level_2, level_3 )
    	values
    	( #{name}, #{start_date}, #{end_date}, #{level_1}, #{level_2}, #{level_3} )
    </insert> -->

</mapper>