<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.haloshop.delivery.DeliveryMapper">
    <insert id="insertDelivery" parameterType="Delivery">
        insert into delivery (
            user_id, address, address_detail, zipcode, recipient_name
        ) values (
            #{userId}, #{address}, #{addressDetail}, #{zipcode}, #{recipientName}
        )
    </insert>

    <select id="findByUserId" parameterType="long" resultType="Delivery">
        select * from delivery where user_id = #{userId}
    </select>
</mapper>