<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.company.haloshop.event.NotificationMapper">

    <resultMap id="NotificationResultMap" type="com.company.haloshop.domain.Notification">
        <id property="id" column="id" />
        <result property="receiverId" column="receiver_id" />
        <result property="entityId" column="entity_id" />
        <result property="referenceId" column="reference_id" />
        <result property="read" column="read" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <insert id="insert" parameterType="com.company.haloshop.domain.Notification" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notification
        (receiver_id, entity_id, reference_id, read, created_at)
        VALUES
        (#{receiverId}, #{entityId}, #{referenceId}, #{read}, #{createdAt})
    </insert>

    <select id="findByReceiverId" parameterType="long" resultMap="NotificationResultMap">
        SELECT * FROM notification
        WHERE receiver_id = #{receiverId}
        ORDER BY created_at DESC
    </select>

    <update id="updateReadStatus">
        UPDATE notification
        SET read = #{read}
        WHERE id = #{id}
    </update>


</mapper>