<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.haloshop.review.ReviewMapper">

    <resultMap id="ReviewResultMap" type="com.company.haloshop.dto.shop.ReviewDTO">
        <id property="id" column="id"/>
        <result property="orderItemsId" column="order_items_id"/>
        <result property="accountId" column="account_id"/>
        <result property="content" column="content"/>
        <result property="rating" column="rating"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertReview" parameterType="com.company.haloshop.dto.shop.ReviewDTO">
        INSERT INTO review (order_items_id, account_id, content, rating, created_at)
        VALUES (#{orderItemsId}, #{accountId}, #{content}, #{rating}, #{createdAt})
    </insert>

    <select id="existsByOrderItemId" resultType="boolean">
        SELECT COUNT(*) > 0 FROM review WHERE order_items_id = #{orderItemsId}
    </select>

    <select id="findByAccountId" resultMap="ReviewResultMap">
        SELECT * FROM review WHERE account_id = #{accountId}
    </select>

    <select id="findByOrderItemsId" resultMap="ReviewResultMap">
        SELECT * FROM review WHERE order_items_id = #{orderItemsId}
    </select>

    <select id="findAll" resultMap="ReviewResultMap">
        SELECT * FROM review
    </select>

</mapper>
