<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.haloshop.category.CategoryMapper">

    <select id="findAll" resultType="com.company.haloshop.dto.shop.Category">
        SELECT id, name FROM category
        ORDER BY id ASC
    </select>

    <insert id="insert" parameterType="com.company.haloshop.dto.shop.Category">
        INSERT INTO category (name) VALUES (#{name})
    </insert>

</mapper>
