<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.company.haloshop.orderitem.OrderItemMapper">

	<!-- OrderItemDto insert -->
	<insert id="insert"
		parameterType="com.company.haloshop.dto.shop.OrderItemDto"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO order_items
		(orders_id, item_id, item_name, product_price,
		quantity)
		VALUES
		(#{ordersId}, #{itemId}, #{itemName}, #{productPrice}, #{quantity})
	</insert>

	<!-- 기존 CRUD용 -->
	<select id="findAll"
		resultType="com.company.haloshop.dto.shop.OrderItemDto">
		SELECT * FROM order_items
	</select>

	<select id="findById" parameterType="long"
		resultType="com.company.haloshop.dto.shop.OrderItemDto">
		SELECT * FROM order_items WHERE id = #{id}
	</select>

	<select id="findAllByCategoryId" parameterType="long"
		resultType="com.company.haloshop.dto.shop.OrderItemDto">
		SELECT oi.*
		FROM order_items oi
		JOIN items i ON oi.item_id =
		i.id
		WHERE i.category_id = #{categoryId}
	</select>
	<select id="findByOrderId" parameterType="long"
		resultType="com.company.haloshop.dto.shop.OrderItemDto">
		SELECT * FROM order_items WHERE orders_id = #{ordersId}
	</select>


	<update id="update"
		parameterType="com.company.haloshop.dto.shop.OrderItemDto">
		UPDATE order_items
		SET orders_id = #{ordersId},
		item_id =
		#{itemId},
		item_name = #{itemName},
		product_price = #{productPrice},
		quantity = #{quantity}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="long">
		DELETE FROM order_items WHERE
		id = #{id}
	</delete>

</mapper>
